{% extends "gym/trainer/base.html" %}

{% block title %}{{ action }} publicacion{% endblock %}

{% block content %}
  <div class="card">
    <h1 style="margin-top:0;">{{ action }} publicacion - {{ clase.nombre }}</h1>
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form.as_p }}
      <div class="row">
        <button class="btn" type="submit">{{ action }}</button>
        <a class="btn secondary" href="{% url 'trainer_publicaciones_list' pk=clase.pk %}">Volver</a>
      </div>
    </form>
  </div>
{% endblock %}
